<li>

    <p>

        {{this.burger_name}} --}}


        {{!-- <button data-burgerid="{{this.id}}" class="eat-burger">Devour it!</button> --}}
                 {{!-- <button data-burgerid="{{this.id}}" data-newsleep"{{eat}}"></button> --}}
            {{!-- {{#if eat}}Devour it!{{else}}--{{/if}} --}}
    </p>
{{!-- 
    <button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
        {{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
    </button> --}}

    {{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>